.swagger-ui .topbar .topbar-wrapper, .swagger-ui .topbar a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}